@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
  min-width: 1280px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.button {
  font-family: inherit;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: pointer;
}

.button_blue {
  background-color: #82B3D3;
}

.button_blue:hover {
  background-color: #68A2CA;
}

.button_blue:focus {
  background-color: #68A2CA;
}

.button_blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.button_blue:disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.button_text {
  background-color: transparent;
}

.button_text:hover {
  opacity: 0.6;
}

.button_text:focus {
  border: 3px solid #83B3D3;
  padding: 5px 12px;
  outline: none;
}

.button_text:active {
  color: rgba(255, 255, 255, 0.3);
}

.button_text:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.button_green {
  background-color: #7DB54F;
}

.button_green:hover {
  background-color: #6C9E42;
}

.button_green:focus {
  background-color: #6C9E42;
}

.button_green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button_green:disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.header__container {
  padding: 0 70px;
  min-height: 64px;
  position: relative;
}

.header__link {
  position: absolute;
}

.header__logo {
  display: block;
}

.navigation {
  margin-left: 168px;
  width: 892px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation__item {
  min-height: 64px;
}

.navigation__item_button {
  padding: 14px 0;
  margin-left: 20px;
  min-width: 160px;
  max-width: 180px;
  text-align: center;
}

.navigation__link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  display: block;
  position: relative;
}

.navigation__item_text:hover,
.navigation__item_search:hover,
.navigation__item_favourite:hover {
  opacity: 0.6;
}

.navigation__item_text:focus,
.navigation__item_search:focus,
.navigation__item_favourite:focus {
  opacity: 0.45;
}

.navigation__item_text:active,
.navigation__item_search:active,
.navigation__item_favourite:active {
  opacity: 0.3;
}

.navigation__item_disabled {
  pointer-events: none;
  background-color: #808080;
  opacity: 0.3;
}

.navigation__item_current {
  pointer-events: none;
}

.navigation__link_text {
  padding: 20px 16px;
}

.navigation__link_icon {
  margin: 0;
  padding: 0;
  min-height: 64px;
  min-width: 44px;
  cursor: pointer;
}

.navigation__link_current::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  border: 1px solid #756257;
}

.navigation__item_search {
  background-image: url("../images/navigation/search.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.navigation__item_favourite {
  background-image: url("../images/navigation/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation__counter {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
  padding: 5px;
  min-width: 20px;
  min-height: 20px;
  display: block;
  position: absolute;
  left: 20px;
  top: 11px;
}

.navigation__link_button {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756157;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 4px;
  width: 100%;
}

.navigation__link_button:hover {
  background-color: #615048;
}

.navigation__link_button:focus {
  background-color: #615048;
}

.navigation__link_button:active {
  color: rgba(255, 255, 255, 0.3);
}

.navigation__link_disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.navigation__user {
  width: 312px;
  justify-content: flex-end;
}

.main__container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/backgrounds/divider.svg"), url("../images/backgrounds/index.jpg");
  background-size: contain, cover;
  background-position: bottom;
  min-height: 485px;
  color: #FFFFFF;
  background-color: #DDEBF4;
  background-repeat: no-repeat;
  padding: 51px 0 82px 0;
}

.hero__logo {
  display: block;
  margin: 0 auto;
  color: #000000;
}

.advantages__container {
  padding: 69px 272px 90px;
}

.advantages__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 25px;
  padding: 0;
}

.advantages__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages__item {
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item_photo {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 1200px;
  display: flex;
}

.advantages__item_inverse {
  flex-direction: row-reverse;
}

.advantages__item_grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item_grey .advantage__name,
.advantages__item_blue .advantage__name
{
  color: #000000;
}

.advantages__item_grey .advantage__description,
.advantages__item_blue .advantage__description
{
  color: #333333;
}

.advantage__name::after {
  content: "";
  position: absolute;
  right: 85px;
  left: 85px;
  bottom: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages__item_photo .advantage__name::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages__text_photo {
  padding: 102px 85px;
  text-align: center;
  width: 400px;
}

.advantages__text {
  padding: 112px 84px;
  text-align: center;
  width: 400px;
}

.advantage__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding: 0 0 32px 0;
  margin: 0 0 30px 0;
  position: relative;
}

.advantage__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  display: block;
}

.advantages__photo {
  display: block;
  object-fit: cover;
  background-color: #82B3D3;
}

.services {
}

.services__container {
  padding: 64px 347px;
  text-align: center;
}

.services__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0 0 20px 0;
}

.services__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding: 0;
  margin: 0;
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.services__item {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px 85px;
  background-position-x: center;
  background-position-y: 81px;
  background-repeat: no-repeat;
}

.services__item_home {
  background-image: url("../images/services/housing.svg");
}

.services__item_food {
  background-image: url("../images/services/food.svg");
}

.services__item_presents {
  background-image: url("../images/services/presents.svg");
}

.service__item_blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.service__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 30px 0;
  padding: 0;
}

.service__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding: 0;
}

.search {
  padding: 97px 304px 96px;
}

.search__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px;
  padding: 0;
}

.search__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 54px;
  padding: 0;
}

.search__link {
  background-color: #756157;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  width: 376px;
  padding: 8px 12px;
  margin: 0 auto;
  display: block;
}

.search__link:hover {
  background-color: #615048;
}

.search__link:focus {
  background-color: #615048;
}

.search__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.search__link_disabled {
  background-color: #808080;
  pointer-events: none;
}

.newsletter {
  background-color: #89ABB8;
  padding: 96px 258px 104px 258px;
}

.newsletter_index {
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-size: cover;
  min-height: 415px;
  background-repeat: no-repeat;
}

.newsletter_catalog {
  background-color: #FFFFFF;
}

.newsletter__title {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
}

.newsletter__text {
  margin: 0 0 54px;
  padding: 0;
  text-align: center;
}

.newsletter_index .newsletter__title {
  color: #FFFFFF;
}

.newsletter_catalog .newsletter__title {
  color: #000000;
}

.newsletter_index .newsletter__text {
  color: #FFFFFF;
}

.newsletter_catalog .newsletter__text {
  color: #333333;
}

.newsletter__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.newsletter__form {
  display: flex;
  width: 684px;
}

.newsletter__email {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border-style: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  height: 52px;
  padding: 14px 20px;
  word-break: break-word;
}

.newsletter__email::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.newsletter__email:hover {
  background: #E6E6E6;
}

.newsletter__email:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.newsletter__email:not(:placeholder-shown) {
  background: #F2F2F2;
  border: 2px solid #000000;
  outline: none;
}

.newsletter__email:disabled {
  background: #808080;
  opacity: 0.3;
}

.newsletter__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 12px;
  width: 232px;
  border-style: none;
  border-radius: 0 4px 4px 0;
}

.newsletter__button_disabled {
  background-color: #808080;
  pointer-events: none;
}

.newsletter__button:hover {
  background-color: #68A2CA;
}

.newsletter__button:focus {
  background-color: #68A2CA;
}

.newsletter__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 70px 30px 70px;
}

.social {
  width: 184px;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 188px;
}

.social__item {
  min-width: 40px;
  min-height: 40px;
}

.social__link {
  display: block;
  padding: 13px;
}

.social__link_disabled {
  pointer-events: none;
  opacity: 0.3;
}

.social__icon {
  display: block;
  margin: 0 auto;
  color: #83B3D3;
}

.social__icon:hover {
  color: #68A2CA;
}

.social__icon:focus {
  color: #68A2CA;
}

.social__icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.contacts {
  width: 345px;
}

.contacts__address {
  display: block;
}

.contacts__phone {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.contacts__phone:hover {
  color: #756157;
}

.contacts__phone:focus {
  color: #756157;
}

.contacts__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.about {
  display: flex;
  justify-content: flex-end;
  width: 156px;
}

.about__link {
  display: block;
  margin: 0;
}

.about__icon {
  display: block;
  color: #000000;
}

.about__icon:hover {
  color: #756157;
}

.about__icon:focus {
  color: #756157;
}

.about__link_disabled {
  pointer-events: none;
  opacity: 0.3;
}

.about__icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0 0 8px 0;
}

.catalog__header {
  background-image: url("../images/backgrounds/hotel-filter.jpg");
  background-size: cover;
  min-height: 412px;
  background-repeat: no-repeat;
  background-color: #977E7F;
  padding: 35px 70px 70px 70px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1060px;
}

.breadcrumbs__item {
  color: #FFFFFF;
  padding-right: 10px;
  height: 21px;
  position: relative;
  margin-right: 5px;
}

.breadcrumbs__item::after {
  position: absolute;
  bottom: calc(50% - 5px);
  right: 0;
  width: 8px;
  height: 11px;
  content: "";
  background-image: url("../images/breadcrumbs/arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  min-width: 20px;
  min-height: 21px;
  padding: 0 5px;
}

.breadcrumbs__link_home {
  background-image: url("../images/breadcrumbs/home.svg");
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 14px 15px;
  min-width: 21px;
  padding: 8px 5px;
}

.breadcrumbs__link_home:hover {
  opacity: 0.6;
}

.breadcrumbs__link_home:focus {
  opacity: 0.45;
}

.breadcrumbs__link_home:active {
  opacity: 0.3;
}

.filter {
  display: flex;
  min-height: 160px;
}

.infrastructure {
  min-height: 157px;
  width: 151px;
  border-style: none;
  padding: 0;
  margin: 0 70px 0 0;
}

.infrastructure__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
  padding: 0;
}

.infrastructure__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.infrastructure__item {
  margin-bottom: 16px;
}

.infrastructure__item:last-child {
  margin-bottom: 0;
}

.infrastructure__label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.infrastructure__label:hover {
  opacity: 0.6;
}

.infrastructure__label:active {
  opacity: 0.3;
}

.infrastructure__label_disabled {
  pointer-events: none;
}

.infrastructure__label_disabled .infrastructure__mark {
  background-color: #808080;
}

.infrastructure__label_disabled .infrastructure__name {
  color: #808080;
}

.infrastructure__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.infrastructure__checkbox {
  position: absolute;
  outline: none;
  clip: rect(0,0,0,0);
}

.infrastructure__checkbox:focus ~ .infrastructure__mark {
  outline: 3px solid #83B3D3;
}

.infrastructure__checkbox:checked ~ .infrastructure__mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 10px;
  background-image: url(../images/forms/checked.svg);
  background-size: 12px 10px;
  background-repeat: no-repeat;
  content: "";
}

.infrastructure__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.type {
  height: 157px;
  width: 151px;
  border-style: none;
  padding: 0;
  margin: 0 140px 0 0;
}

.type__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
  padding: 0;
  text-transform: capitalize;
}

.type__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.type__item {
  margin-bottom: 16px;
}

.type__item:last-child {
  margin-bottom: 0;
}

.type__label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.type__label:hover {
  opacity: 0.6;
}

.type__label:active {
  opacity: 0.3;
}

.type__label_disabled {
  pointer-events: none;
}

.type__label_disabled .type__mark {
  background-color: #808080;
}

.type__label_disabled .type__name {
  color: #808080;
}

.type__radio {
  position: absolute;
  outline: none;
  clip: rect(0,0,0,0);
}

.type__mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.type__radio:focus ~ .type__mark {
  outline: 3px solid #83B3D3;
}

.type__radio:checked + .type__mark::before {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.type__name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.price {
  width: 288px;
  min-height: 160px;
  border-style: none;
  padding: 0;
  margin: 0 70px 0 0;
}

.price__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
  padding: 0;
}

.price__list {
  list-style: none;
  padding: 0;
  margin: 0 0 44px;
  display: flex;
}

.price__item {
  position: relative;
}

.price__label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  opacity: 0.3;
  top: 12px;
  left: 105px;

}

.price__field {
  font-family: inherit;
  width: 143px;
  min-height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 50px;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.price__field::-webkit-outer-spin-button,
.price__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.price__field:focus {
  outline: 3px solid #83B3D3;
}

.price__field_min {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border-style: none;
  margin-right: 2px;
}

.price__field_max {
  background: #F2F2F2;
  border-radius: 0 4px 4px 0;
  border-style: none;
}

.price__field:disabled {
  background-color: #808080;
}

.range__scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range__toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.range__toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range__toggle:focus {
  outline: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range__toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range__toggle:disabled {
  background-color: #808080;
  pointer-events: none;
}

.toggle__min {
  top: -8px;
}

.toggle__max {
  top: -8px;
  right: 0;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 32px;
  width: 191px;
  margin: 56px 0 0 0;
}

.catalog {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E6E6E6;
  margin: 0 70px;
}

.sorting {
  padding: 50px 0 40px 0;
  display: flex;
  align-items: center;
}

.sorting__settings {
  display: flex;
  width: 522px;
  gap: 14px;
}

.sorting__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 178px 0 0;
  padding: 0;
  width: 360px;
}

.sorting__count {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sorting__order {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  padding: 12px 40px 12px 18px;
  margin: 0 14px 0 0;
  align-self: center;
  min-height: 49px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/select/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.sorting__order:hover {
  border: 2px solid #68A2CA;
}

.sorting__order:focus {
  border: 2px solid #68A2CA;
  outline: none;
}

.sorting__order:active {
  border: 2px solid #3F5E72;
}

.sorting__order:disabled {
  border: 2px solid #808080;
  color: rgba(0, 0, 0, 0.3);
}

.view__list {
  background-color: #FFFFFF;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  width: 216px;
}

.view__item {
  width: 48px;
  height: 48px;
  background-position: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view__item_selected {
  border: 2px solid #000000;
}

.view__item:hover {
  border: 2px solid #000000;
}

.view__item:focus {
  border: 2px solid #68A2CA;
}

.view__item:active {
  border: 2px solid #000000;
}

.view__item_disabled {
  background-color: #808080;
  border: 2px solid #808080;
  pointer-events: none;
}

.view__item_cards {
  background-image: url("../images/views/view-1.svg");
  background-repeat: no-repeat;
}

.view__item_single {
  background-image: url("../images/views/view-2.svg");
  background-repeat: no-repeat;
}

.view__item_list {
  background-image: url("../images/views/view-3.svg");
  background-repeat: no-repeat;
}

.view__link {
  display: block;
  width: 100%;
  height: 100%;
}

.result {
  padding: 0 0 40px 0;
  list-style: none;
  background-color: #FFFFFF;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  flex-wrap: wrap;
  gap: 20px;
}

.result__item {
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 340px;
  min-height: 438px;
  padding: 19px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr repeat(3, max-content);
  justify-content: flex-end;
  gap: 16px 20px;
}

.result__link {
  grid-column: 1/-1;
  text-decoration: none;
  display: block;
}

.result__image {
  display: block;
  margin-bottom: 16px;
}

.result__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  max-width: 300px;
}

.result__type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  width: 140px;
}

.result__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  width: 140px;
}

.result__details {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  display: block;
  width: 100%;
  margin: 0;
  padding: 8px 12px;
  text-decoration: none;
}

.result__details:hover {
  background-color: #615048;
}

.result__details:focus {
  background-color: #615048;
}

.result__details:active {
  color: rgba(255, 255, 255, 0.3);
}

.result__details_disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}

.result__icon {
  background-image: url("../images/rating/star.svg");
  background-repeat: space no-repeat;
  display: block;
  margin: 9px 0 10px 1px;
  width: 18px;
}

.result__icon_rating_2 {
  width: 42px;
}

.result__icon_rating_3 {
  width: 66px;
}

.result__icon_rating_4 {
  width: 89px;
}

.result__icon_rating_5 {
  width: 105px;
}

.result__rating {
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  display: block;
  width: 100%;
  padding: 9px 5px 8px 7px;
}

.pagination {
  background-color: #FFFFFF;
  padding: 39px 70px 60px 70px;
}

.pagination__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination__item {
  min-width: 60px;
  max-width: 160px;
  min-height: 60px;
}

.pagination__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #82B3D3;
  display: block;
  width: 100%;
  padding: 12px 12px;
}

.pagination__current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination__link_dots {
  color: #000000;
  background-color: #FFFFFF;
  width: 100%;
}

.pagination__link_dots:hover {
  opacity: 0.6;
}

.pagination__link_dots:hover {
  opacity: 0.45;
}

.pagination__link_dots:active {
  opacity: 0.3;
}

.pagination__link_blue {
  border: 1px solid #82B3D3;
  padding: 11px 11px;
}


.pagination__link_blue:hover,
.pagination__link_blue:focus {
  background: #68A2CA;
  border: 1px solid #82B3D3;
  padding: 11px 11px;
}

.pagination__link_blue:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination__link_disabled {
  background-color: #808080;
  pointer-events: none;
  opacity: 0.3;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal__container_close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal__close {
  display: inline;
  border-style: none;
  position: absolute;
  right: 52px;
  top: 64px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-image: url("../images/modal/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F2F2F2;
  cursor: pointer;
}

.modal__close:hover {
  background-color: #E6E6E6;
}

.modal__close:focus {
  outline: 3px solid #83B3D3;
}

.modal__close:active {
  outline: none;
  opacity: 0.3;
}

.modal__close:disabled {
  background-color: #808080;
  opacity: 0.3;
  pointer-events: none;
}

.modal__search {
  width: 717px;
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 64px;
  padding: 0;
}

.modal__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 577px;
  margin-bottom: 4px;
}

.modal__wrapper:not(:first-child) {
  margin-top: 23px;
}

.description__wrapper {
  padding: 0 69px 0 157px;
  margin: 0;
}

.modal__description {
  width: 320px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.modal__error {
  color: #FF5757;
}

.modal__label {
  padding: 11px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal__label_long {
  width: 137px;
}

.modal__label_short {
  width: 49px;
}

.modal__input {
  padding: 12px 50px 12px 20px;
  gap: 260px;
  width: 440px;
  height: 48px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal__input::placeholder {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.6);
}

.modal__input:hover {
  background-color: rgba(230, 230, 230, 0.3);
  opacity: 0.6;
}

.modal__input:focus {
  background-color: rgba(230, 230, 230, 0.3);
  outline: 3px solid #83B3D3;
  border: none;
}

.modal__input:disabled {
  background-color: #808080;
  opacity: 0.3;
  pointer-events: none;
}

.modal__visitors {
  display: flex;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 48px;
  gap: 88px;
}

.visitors__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity__wrapper {
  display: flex;
  width: 110px;
  min-height: 48px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.quantity__wrapper_disabled {
  pointer-events: none;
  opacity: 0.3;
}

.quantity__button {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 13px 10px 14px 10px;
  border: transparent;
  cursor: pointer;
  background-color: #F2F2F2;
}

.quantity__button_minus {
  background-image: url("../images/modal/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.quantity__button_minus:hover {
  background-image: url("../images/modal/minus-black.svg");
}

.quantity__button_minus:focus {
  background-image: url("../images/modal/minus-black.svg");
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.quantity__button_minus:active {
  background-image: url("../images/modal/minus.svg");
}

.quantity__button_plus {
  background-image: url("../images/modal/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.quantity__button_plus:hover {
  background-image: url("../images/modal/plus-black.svg");
}

.quantity__button_plus:focus {
  background-image: url("../images/modal/plus-black.svg");
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.quantity__button_plus:active {
  background-image: url("../images/modal/plus.svg");
}

.quantity__input {
  min-width: 31px;
  height: 48px;
}

.quantity__wrapper {
  display: flex;
  width: 110px;
  min-height: 48px;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.modal__button_search {
  max-width: 577px;
  min-height: 60px;
  left: 0;
  top: 288px;
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.quantity__input {
  width: 31px;
  padding: 5px 5px;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border-radius: 0;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  background-color: #F2F2F2;
}

.quantity__input::-webkit-outer-spin-button,
.quantity__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.modal__input_calendar {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/modal/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 21px top 12px;
}

.visitors__children {
  display: flex;
  margin-right: 46px;
}

.tooltip {
  margin-left: 9px;
  position: relative;
  display: block;
  padding: 6px 0;
}

.tooltip_disabled {
  pointer-events: none;
  opacity: 0.3;
}

.tooltip__toggle {
  width: 26px;
  height: 26px;
  background-image: url(../images/modal/info.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
}

.tooltip__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  min-width: 256px;
  padding: 20px 18px 22px 22px;
  text-transform: none;
  left: 50%;
  top: calc(100% + 5px);
  transform: translateX(-50%);
  display: none;
}

.tooltip__text:before {
  height: 9px;
  width: 19px;
  content: "";
  border: 10px solid transparent;
  border-bottom-color: #333333;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #333333;
  z-index: -1;
}

.tooltip__toggle:hover + .tooltip__text,
.tooltip__toggle:focus + .tooltip__text {
  display: block;
}

